@use 'sass:map';
@use './genVar.scss' as *;
@use './color.scss' as *;

// Button
$button: () !default;
$button-default: (
  'default': (
    'base': (
      'border-color': #dcdfe6,
      'bg-color': #ffffff,
      'text-color': #606266,
      'disabled-text-color': #a8abb2,
      'disabled-bg-color': #ffffff,
      'disabled-border-color': #e4e7ed,
      'hover-text-color': #409eff,
      'hover-bg-color': #ecf5ff,
      'hover-border-color': #c6e2ff,
      'active-text-color': #409eff,
      'active-bg-color': #ecf5ff,
      'active-border-color': #409eff,
    ),
    'plain': (
      'hover-text-color': #409eff,
      'hover-bg-color': #ffffff,
      'hover-border-color': #409eff,
    ),
    'text': (
      'text-color': #606266,
      'bg-color': transparent,
      'border-color': transparent,
      'hover-text-color': #606266,
      'hover-bg-color': #f5f7fa,
      'hover-border-color': transparent,
      'active-text-color': #606266,
      'active-bg-color': #f0f2f5,
      'active-border-color': transparent,
      'disabled-border-color': transparent,
    ),
  ),
) !default;
$button-primary: (
  'primary': (
    'base': (
      'border-color': #409eff,
      'bg-color': #409eff,
      'text-color': #ffffff,
      'disabled-text-color': #ffffff,
      'disabled-bg-color': #a0cfff,
      'disabled-border-color': #a0cfff,
      'hover-text-color': #ffffff,
      'hover-bg-color': #79bbff,
      'hover-border-color': #79bbff,
      'active-text-color': #ffffff,
      'active-bg-color': #337ecc,
      'active-border-color': #337ecc,
    ),
    'plain': (
      'text-color': #409eff,
      'bg-color': #ecf5ff,
      'border-color': #a0cfff,
      'hover-text-color': #ffffff,
      'hover-bg-color': #409eff,
      'hover-border-color': #409eff,
      'disabled-text-color': #a0cfff,
      'disabled-bg-color': #ecf5ff,
      'disabled-border-color': #d9ecff,
    ),
    'text': (
      'text-color': #409eff,
      'bg-color': transparent,
      'border-color': transparent,
      'hover-text-color': #409eff,
      'hover-bg-color': #f5f7fa,
      'hover-border-color': transparent,
      'active-text-color': #409eff,
      'active-bg-color': #f0f2f5,
      'active-border-color': transparent,
      'disabled-text-color': #aacefb,
      'disabled-bg-color': transparent,
      'disabled-border-color': transparent,
    ),
  ),
) !default;

$button-success: (
  'success': (
    'base': (
      'border-color': #67c23a,
      'bg-color': #67c23a,
      'text-color': #ffffff,
      'disabled-text-color': #ffffff,
      'disabled-bg-color': #b3e19d,
      'disabled-border-color': #b3e19d,
      'hover-text-color': #ffffff,
      'hover-bg-color': #95d475,
      'hover-border-color': #95d475,
      'active-text-color': #ffffff,
      'active-bg-color': #529b2e,
      'active-border-color': #529b2e,
    ),
    'plain': (
      'text-color': #67c23a,
      'bg-color': #f0f9eb,
      'border-color': #b3e19d,
      'hover-text-color': #ffffff,
      'hover-bg-color': #67c23a,
      'hover-border-color': #67c23a,
      'disabled-text-color': #b3e19d,
      'disabled-bg-color': #f0f9eb,
      'disabled-border-color': #e1f3d8,
    ),
    'text': (
      'text-color': #67c23a,
      'bg-color': transparent,
      'border-color': transparent,
      'hover-text-color': #67c23a,
      'hover-bg-color': #f5f7fa,
      'hover-border-color': transparent,
      'active-text-color': #67c23a,
      'active-bg-color': #f0f2f5,
      'active-border-color': transparent,
      'disabled-text-color': #b3e19d,
      'disabled-bg-color': transparent,
      'disabled-border-color': transparent,
    ),
  ),
) !default;

$button-info: (
  'info': (
    'base': (
      'border-color': #909399,
      'bg-color': #909399,
      'text-color': #ffffff,
      'disabled-text-color': #ffffff,
      'disabled-bg-color': #c8c9cc,
      'disabled-border-color': #c8c9cc,
      'hover-text-color': #ffffff,
      'hover-bg-color': #b1b3b8,
      'hover-border-color': #b1b3b8,
      'active-text-color': #ffffff,
      'active-bg-color': #73767a,
      'active-border-color': #73767a,
    ),
    'plain': (
      'text-color': #909399,
      'bg-color': #f4f4f5,
      'border-color': #c8c9cc,
      'hover-text-color': #ffffff,
      'hover-bg-color': #909399,
      'hover-border-color': #909399,
      'disabled-text-color': #c8c9cc,
      'disabled-bg-color': #f4f4f5,
      'disabled-border-color': #e9e9eb,
    ),
    'text': (
      'text-color': #909399,
      'bg-color': transparent,
      'border-color': transparent,
      'hover-text-color': #909399,
      'hover-bg-color': #f5f7fa,
      'hover-border-color': transparent,
      'active-text-color': #909399,
      'active-bg-color': #f0f2f5,
      'active-border-color': transparent,
      'disabled-text-color': #c8c9cc,
      'disabled-bg-color': transparent,
      'disabled-border-color': transparent,
    ),
  ),
) !default;

$button-warning: (
  'warning': (
    'base': (
      'border-color': #e6a23c,
      'bg-color': #e6a23c,
      'text-color': #ffffff,
      'disabled-text-color': #ffffff,
      'disabled-bg-color': #f3d19e,
      'disabled-border-color': #f3d19e,
      'hover-text-color': #ffffff,
      'hover-bg-color': #eebe77,
      'hover-border-color': #eebe77,
      'active-text-color': #ffffff,
      'active-bg-color': #b88230,
      'active-border-color': #b88230,
    ),
    'plain': (
      'text-color': #e6a23c,
      'bg-color': #fdf6ec,
      'border-color': #f3d19e,
      'hover-text-color': #ffffff,
      'hover-bg-color': #e6a23c,
      'hover-border-color': #e6a23c,
      'disabled-text-color': #f3d19e,
      'disabled-bg-color': #fdf6ec,
      'disabled-border-color': #faecd8,
    ),
    'text': (
      'text-color': #e6a23c,
      'bg-color': transparent,
      'border-color': transparent,
      'hover-text-color': #e6a23c,
      'hover-bg-color': #f5f7fa,
      'hover-border-color': transparent,
      'active-text-color': #e6a23c,
      'active-bg-color': #f0f2f5,
      'active-border-color': transparent,
      'disabled-text-color': #f3d19e,
      'disabled-bg-color': transparent,
      'disabled-border-color': transparent,
    ),
  ),
) !default;

$button-danger: (
  'danger': (
    'base': (
      'border-color': #f56c6c,
      'bg-color': #f56c6c,
      'text-color': #ffffff,
      'disabled-text-color': #ffffff,
      'disabled-bg-color': #fab6b6,
      'disabled-border-color': #fab6b6,
      'hover-text-color': #ffffff,
      'hover-bg-color': #f89898,
      'hover-border-color': #f89898,
      'active-text-color': #ffffff,
      'active-bg-color': #c45656,
      'active-border-color': #c45656,
    ),
    'plain': (
      'text-color': #f56c6c,
      'bg-color': #fef0f0,
      'border-color': #fab6b6,
      'hover-text-color': #ffffff,
      'hover-bg-color': #f56c6c,
      'hover-border-color': #f56c6c,
      'disabled-text-color': #fab6b6,
      'disabled-bg-color': #fef0f0,
      'disabled-border-color': #fde2e2,
    ),
    'text': (
      'text-color': #f56c6c,
      'bg-color': transparent,
      'border-color': transparent,
      'hover-text-color': #f56c6c,
      'hover-bg-color': #f5f7fa,
      'hover-border-color': transparent,
      'active-text-color': #f56c6c,
      'active-bg-color': #f0f2f5,
      'active-border-color': transparent,
      'disabled-text-color': #fab6b6,
      'disabled-bg-color': transparent,
      'disabled-border-color': transparent,
    ),
  ),
) !default;

$button: map-collect(
  $button-default,
  $button-primary,
  $button-success,
  $button-info,
  $button-warning,
  $button-danger
);
