@use 'sass:map';
@use './genVar.scss' as *;
@use './color.scss' as *;

// Button
$button: () !default;
$button-default: (
  'default': (
    'border-color': #dcdfe6,
    'bg-color': #ffffff,
    'text-color': #606266,
    'disabled-text-color': #a8abb2,
    'disabled-bg-color': #ffffff,
    'disabled-border-color': #e4e7ed,
    'hover-text-color': #409eff,
    'hover-bg-color': #ecf5ff,
    'hover-border-color': #c6e2ff,
    'active-text-color': #409eff,
    'active-bg-color': #ecf5ff,
    'active-border-color': #409eff,
  ),
) !default;
$button-primary: (
  'primary': (
    'border-color': #409eff,
    'bg-color': #409eff,
    'text-color': #ffffff,
    'disabled-text-color': #ffffff,
    'disabled-bg-color': #a0cfff,
    'disabled-border-color': #a0cfff,
    'hover-text-color': #ffffff,
    'hover-bg-color': #79bbff,
    'hover-border-color': #79bbff,
    'active-text-color': #ffffff,
    'active-bg-color': #337ecc,
    'active-border-color': #337ecc,
  ),
) !default;

$button-success: (
  'success': (
    'border-color': #67c23a,
    'bg-color': #67c23a,
    'text-color': #ffffff,
    'disabled-text-color': #ffffff,
    'disabled-bg-color': #b3e19d,
    'disabled-border-color': #b3e19d,
    'hover-text-color': #ffffff,
    'hover-bg-color': #95d475,
    'hover-border-color': #95d475,
    'active-text-color': #ffffff,
    'active-bg-color': #529b2e,
    'active-border-color': #529b2e,
  ),
) !default;

$button-info: (
  'info': (
    'border-color': #909399,
    'bg-color': #909399,
    'text-color': #ffffff,
    'disabled-text-color': #ffffff,
    'disabled-bg-color': #c8c9cc,
    'disabled-border-color': #c8c9cc,
    'hover-text-color': #ffffff,
    'hover-bg-color': #b1b3b8,
    'hover-border-color': #b1b3b8,
    'active-text-color': #ffffff,
    'active-bg-color': #73767a,
    'active-border-color': #73767a,
  ),
) !default;

$button-warning: (
  'warning': (
    'border-color': #e6a23c,
    'bg-color': #e6a23c,
    'text-color': #ffffff,
    'disabled-text-color': #ffffff,
    'disabled-bg-color': #f3d19e,
    'disabled-border-color': #f3d19e,
    'hover-text-color': #ffffff,
    'hover-bg-color': #eebe77,
    'hover-border-color': #eebe77,
    'active-text-color': #ffffff,
    'active-bg-color': #b88230,
    'active-border-color': #b88230,
  ),
) !default;

$button-danger: (
  'danger': (
    'border-color': #f56c6c,
    'bg-color': #f56c6c,
    'text-color': #ffffff,
    'disabled-text-color': #ffffff,
    'disabled-bg-color': #fab6b6,
    'disabled-border-color': #fab6b6,
    'hover-text-color': #ffffff,
    'hover-bg-color': #f89898,
    'hover-border-color': #f89898,
    'active-text-color': #ffffff,
    'active-bg-color': #c45656,
    'active-border-color': #c45656,
  ),
) !default;

$button: map-collect(
  $button-default,
  $button-primary,
  $button-success,
  $button-info,
  $button-warning,
  $button-danger
);
