@use 'sass:map';
@use 'sass:list';

// Color
$colors: () !default;
$colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #409eff,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $colors
);

$button-bg-color: () !default;
$button-bg-color: map.deep-merge(
  (
    '': #ffffff,
    'primary': #409eff,
    'success': #67c23a,
    'warning': #e6a23c,
    'danger': #f56c6c,
    'error': #f56c6c,
    'info': #909399,
  ),
  ()
);

$button: () !default;
