@use '../common/config.scss' as *;

// BEM
@mixin b($block) {
  $B: $namespace + $block-separator + $block !global;

  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $E: $element;

  @at-root {
    @if $E == '' {
      .#{$B} {
        @content;
      }
    } @else {
      .#{$B + $element-separator + $E} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {
  $M: $modifier;

  @at-root {
    @if $M == '' {
      .#{$B} {
        @content;
      }
    } @else {
      .#{$B + $modifier-separator + $M} {
        @content;
      }
    }
  }
}

@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}
