@use './bem/mixins.scss' as *;

@include b('button') {
  display: inline-block;
  justify-content: center;
  align-items: center;
  line-height: 1;

  height: 30px;
  white-space: nowrap;
  cursor: pointer;
  color: black;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: 600;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: royalblue;
  border: 1px solid royalblue;
  border-color: #333;

  & + & {
    margin-left: 12px;
  }

  @each $type in (default, primary, success, warning, danger, info) {
    @include m($type) {
      background-color: aqua;
    }
  }
}
