@use './bem/mixins.scss' as *;

@include b(icon) {
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  font-size: inherit;

  svg {
    height: 1em;
    width: 1em;
  }
}
