@use 'sass:map';

@use './bem/mixins.scss' as *;
@use './common/genVar.scss' as *;
@use './common/var.scss' as *;
@use './common/config.scss' as *;

// @include b('button') {
//   @include set-component-css-var('button', map.get($button, 'default', 'base'));
// }

@include b('input') {
  position: relative;
  font-size: 14px;
  display: inline-flex;
  width: 100%;
  line-height: 32px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(220, 223, 230) 0 0 0 1px inset;
  border-radius: 4px;
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: rgba(192, 196, 204) 0 0 0 1px inset;
  }
  @include e('inner') {
    flex-grow: 1;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 1px 11px;
    outline: none;
    border: none;
    background: none;
    font-size: inherit;
  }

  @include when('disabled') {
    cursor: not-allowed;
    background-color: #f5f7fa;
    box-shadow: 0 0 0 1px #e4e7ed inset;
    .#{$namespace}-input__inner {
      cursor: not-allowed;
      &::placeholder {
        color: #a8abb2;
      }
    }
  }

  @include when('focus') {
    box-shadow: rgba(65, 158, 255) 0 0 0 1px inset;
  }
}
